{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset = "utf-8">
    <title> TEST1 </title>
	<link rel = "stylesheet" href = "{% static 'blog/reset.css' %}">
    <link rel = "stylesheet" href = "{% static 'blog/style.css' %}">
{#    <link rel="shortcut icon" href="Untitled-1.png" type="image/png" />#}
</head>
<body>
<div class="main-one">
	<header>
		<h5 class="title-head"><a href="{% url "home" %}">see<span class="two">orange</span></a></h5>
	</header>
	<nav class="menu">
	<ul>
	    <li><a href= "feeds.html">home </a> |
			<ul class = "submenu">
			    <li><a href= "#"> > submenu item 1 </a> | </li>
				<li><a href= "#"> submenu item 2 ... </a>|  </li>
			</ul>
		</li>
	    <li><a href= "#">my designs </a> | </li>
	    <li><a href= "#"> tutorials </a> | </li>
	    <li><a href= "#"> about... </a> </li>
        <li>
            {% if request.user.is_authenticated %}
                <a class= "five" href= "#">Выйти</a>
            {% else %}
                <a class= "five" href= "#">Войти</a>
            {% endif %}
        <li>
	</ul>
	</nav>
	<article>
        {% block feeds %}
        {% endblock %}

        {% block detail %}
        {% endblock %}

	</article>

</div>
<div class="eight"></div>
	<footer>
		<p>Copyright info goes here</p>
	</footer>
</body>
</html>