{% extends "base.html" %}
{% block detail %}

    {% if object %}


        <div> {# header #}
                <h2>
                    {{ object.title }}
                </h2>
                <p class="info">Автор: {{ entry.user }} Дата: {{ entry.publication_date }} </p>
        </div>

            <div> {# mid #}
                <p class="entry">
                    {{ entry.text }}
                </p>
            </div>

            <div> {# footer #}
                <p class="info">Теги: {% for tag in entry.tags.all %} <span class="tag">{{ tag }}</span> {% endfor %}</p>
            <hr>
            </div>


    {% else %}
        <h2 align="center">No content</h2>
    {% endif %}

    <div>
        {% if not object.is_commentable %}
            <p>Комментарии отключены</p>
        {% else %}
{#            <form method="POST">#}
{#                {% csrf_token %}#}
{#                {{  form.as_p  }}#}
{#                {{ form.email }}#}
{#                <input type="submit" value="Отправить комментарий">#}
{#            </form>#}
{##}

            <form method="POST">
                {% csrf_token %}
                <ul class="form-style-1">
                    {% if form.email and form.author %}
                        <li><label>Имя <span class="required">*</span></label>{{ form.author }}</li>
                        <li>
                            <label>Email <span class="required">*</span></label>
                            {{ form.email }}
                        </li>
                    {% endif %}
                    <li>
                        <label>Текст комментария <span class="required">*</span></label>
                        {{ form.text }}
                    </li>
                    <li>
                        <input type="submit" value="Отправить" />
                    </li>
                </ul>
            </form>



        {% endif %}


        <!-- comments -->
<div class="comment-section-container">
    {% if comments %}
        <div class=""><h3>Comments ({{ comments.count }})</h3></div>
        {% for comment in comments %}
              <div class="comment-section-author">
                  <img src="https://api.adorable.io/avatars/50/abott@adorable.png" alt="">

            <div class="comment-section-name">
              <h5 class="comments"><a href="">{{ comment.author }}</a></h5>
              <p class="date_comment">{{ comment.created_date }}</p>
            </div>
              </div>
          <div class="comment-section-text">
            <p class="comments_text">
                {{ comment.text }}
            </p>
{#          <hr>#}
          </div>
        {% endfor %}
    {% endif %}
</div>
<!--/comments-->





{% endblock %}