﻿{% extends "base.html" %}
{% load static %}
{% block feeds %}

    {% if object_list %}

        {% for entry in object_list %}
            <div> {# header #}
                <h2>
                    <a href="{% url "detail_entry" entry_id=entry.id  %}"> {{ entry.title }}</a>
                </h2>
                <p class="info">Автор: {{ entry.user }} Дата: {{ entry.publication_date }} </p>
            </div>

            <div> {# mid #}
                <p>
                    {{ entry.description }}
                </p>
            </div>

            <div> {# footer #}
                <span><p class="info">Теги: {% for tag in entry.tags.all %} <span class="tag">{{ tag }}</span> {% endfor %}
                Обсуждения: {% if not entry.is_commentable %} Комментарии отключены {% endif %}</p>
                </span>
                <hr>
            </div>

        {% endfor %}

        {% if is_paginated %} {# PAGINATE #}
            <div align="center">
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                            {% if page == page_obj.number %}
                                <a class="active" href="/page/{{ page }}/">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}">{{ page }}</a>
                             {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        {% endif %}
                    </div>
            </div>
        {%  endif %}{# PAGINATE #}

    {% else %}
        <h2 align="center">No content</h2>
    {% endif %}
{%  endblock %}