﻿body {
	background-color: #008080;
}
div.main-one{
	background-color: White;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
.title-head{
	padding: 30px;
	font-size: 40px;
	color: rgba(0, 148, 148, 0.59);
	font-family: Arial;
	font-weight: normal;
	background-color: orange;
}

.comments{
	font-size: 30px;
	color: rgba(0, 148, 148, 0.59);
	font-family: Arial;
	font-weight: normal;
}

.comments_text{
    padding: 30px;
    padding-right: 50%;
}

.date_comment {
    padding-top: -20px;
	font-family: Arial;
    font-size: 12px;
    color: #545454;
}

.info {
    padding-left: 30px;
	padding-bottom: 15px;
    padding-top: -20px;
	font-family: Arial;
    font-size: 12px;
    color: #545454;
}
.tag {
	border: 1px solid rgba(163, 250, 255, 0.35);
	padding: 5px;
    font-family: Arial;
    font-size: 12px;
    color: #545454;
}
.two{
	color: White;
	font-size: 43px;
}
.menu{
	position:relative;	
	list-style-type: none;
}
.menu ul li{
	display: inline;
}
.menu ul {
	background-color: #FFDEAD;
	margin: 0px;
	padding: 5px;
}
.submenu {
	position: absolute;
	left:0;
	width:99%;
	height:9px;
	font-size: 13px;
}
.menu .submenu{
	display:none;
} 
.menu ul li:hover .submenu {
	display: block;
	background-color: #FFEBCD;
}

/* pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* END pagination */


a {
	text-decoration: none;
	color: #20B2AA;
}
.five {
	float: right;
}
h2 {
	padding: 10px;
	font-size: 36px;
	font-weight:bold;
	font-family: Calibri;
	color: #008080;
}
.entry{
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: Arial;
}


div.eight {
	height: 3px;
	width: 70%;
	background-color: #2F4F4F;
	margin: auto;
	margin-top: 20px;
}
footer{
	background-color: #008080;
	color: white;
	text-align: center;
	margin-top: 20px;
	font-family:Arial;
}


/*form*/
.form-style-1 {
    margin:10px left;
    max-width: 400px;
    padding: 40px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

/* end form*/

/*comments*/


.comment-section-container {
  background-color: #fefefe;
  padding: 1rem;
}

.comment-section-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.comment-section-author .comment-section-name {
  margin-left: 1rem;
}

.comment-section-author .comment-section-name p {
  margin-bottom: 0;
}

.comment-section-box {
  background-color: #e6e6e6;
  padding: 1rem;
}



/*end comments*/